@import url("https://fonts.googleapis.com/css?family=Poiret+One");
.bioheader h1 {
  font-family: "Poiret One", cursive;
  color: white; }

.bioinfo {
  font-family: "Poiret One", cursive;
  color: white; }

.bio {
  background-image: url("http://res.cloudinary.com/dzqg1z7bt/image/upload/v1509577139/gallery22_rwk3a7.jpg");
  background-size: cover;
  height: 100vh;
  overflow: hidden; }

.bioheader h1 {
  font-weight: lighter; }

.bioinfo {
  height: 100vh;
  width: 100%;
  margin: 140px;
  margin-left: 30px;
  width: 95vw;
  font-size: 23px;
  font-weight: bolder; }

.bioimg {
  border-radius: 25px;
  margin-right: 20px; }

@media (max-width: 600px) {
  .bioimg {
    margin-left: 20px;
    width: 80%;
    height: 200px;
    display: block; } }

@media (max-width: 1000px) {
  .bio {
    overflow: scroll; } }

@media (max-width: 800px) {
  .bio {
    overflow: scroll;
    background-size: cover; }
  .bioinfo p {
    width: 90%;
    margin-left: 1px; }
  .bioimg {
    width: 85%; } }
