@import './../../../variables.scss';

.printsheader {
    font-family: $displayFont;
    color: $displayColor;
}

.prints span {
    font-family: $displayFont;
}

.printsheader {
    .printsubtitle {
        .prints span {
            .addToCart {
                color: $displayColor;
            }
        }
    }
}

body {
    background-image: url('http://res.cloudinary.com/dzqg1z7bt/image/upload/v1509636200/gallery65_omdkba.jpg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.printsheader {
    font-weight: lighter;
    margin-bottom: 120px;
}

.printsubtitle {
    font-size: 20px;
    font-weight: bolder;
    width: 50%;
    margin-left: 100px;
    padding: 30px;
}

.prints {
    margin-top: 30px;
    float: left; 
    width: 60%;
}

.prints img {
    width: 60%;
    height: 60%;
    margin-top: 0px;
    padding: 10px;
    outline: none;
    float: left;
    margin-left: 50px;
}

.prints span {
    font-size: 20px;
}

.cartview {
    width: 40%;
    float: right;
    margin-top: 50px;
    padding: 5px;
}

.addToCart {
    font-weight: bolder;
    font-size: 18px;
}

@media (max-width: 600px) {
    .prints {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .printsubtitle {
        font-size: 20px;
        width: 100%;
        margin-left: 0px;
    }
    .prints {
        margin-top: 50px;
        width: 90%;
        position: relative;
        overflow-y: scroll;
    }

}

