.Home {
    background-image: url('https://photos-6.dropbox.com/t/2/AAC-QRZI6-Y8Inhja9EmriWN2IYj3soQVI2UIX2nlZHg_Q/12/148812236/jpeg/32x32/3/1508875200/0/2/DSC_5169.jpg/EOCF53EYgDQgAigC/7RKSPN3Ux41Tr5__qpC2RsoTa86DcpFut536S2lpuEg%2CsiaNnm0EETprIWJa0xTzjW108LQaFGjP-Cv7UF7kwz4%2CdeNPWL03qcHJo0Z9IF4qvM1hD-TFJWn9TR4mo41V_fA%2C860TyKONrqrrEa7_mQ0pH5dh3Co0wD_5snMgmO6ES7k%2CbTZOxlHqiFabxnX4KryswHx8CnrbTNv42NILha5YCe4%2C7D5iA0pm9tUbg54ceudkaltOcHiEFMc4tMrniZFRniU%2C-v-R-jPM_LKEJp3_8RKWI49z3glTmWX6SYnKOCc-fQU%2CrlDRrZaQpDJTEef_IuOtDDhWRBBMRNG_vEd0_j-PXGw%2CLRkI5Veplixm0Cwy2QIfWoW1qkLKnKFPvCkahLi5DOc?dl=0&size=2048x1536&size_mode=3');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

h1 {
    position: relative;
    top: 120px;
    font-size: 50px;
}

.imghome {
    position: fixed;
    top: 40%;
    left: 45%;
    opacity: 0.5;
    border-radius: 10px;
}

.imghome:hover {
    opacity: 0.9;
    transition: 1.5s;
}

@media (max-width: 600px) {
    .imghome {
        width: 35%;
        left: 33%;
    }
    .imghome {
        opacity: 0.9;
    }
}
